.vinyassaIntegral {
  padding-top: 150px;
  background-color: rgba(239, 167, 109, 0.5);
  width: 90%;
}


.title {
  text-align: center;
}

.vinyassaIntegral p {
  padding: 2rem 6rem;
}

@media only screen and (max-width: 480px) {
  .vinyassaIntegral {
    padding-top: 5rem;
    width: 100%;
  }
   .vinyassaIntegral p {
     padding: 2rem 2rem;
   }

   #pied {
     display: none;
   }
}