.contacto {
  background-color: rgba(239, 167, 109, 0.5);
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacto img {
  width: 30px;
}

@media only screen and (max-width: 480px) {
  .contacto {
    padding-top: 5rem;
    width: 100%;
  }
}
